* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/font/Roboto/Roboto-Regular.ttf');
}

html {
    display: block;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.container {
    padding: .5rem 0;
    width: 1536px;
    margin-inline: auto;
}

header {
    background-color: #222831;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    transition: all .4s ease;
}

header .logo:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

nav ul li {
    transition: all .3s ease;
}

nav ul li:hover {
    transform: scale(1.2);
}

nav ul li a {
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: 600;
}